{% extends "myfirstapp/main.html" %}

{%block title %} Formulaire pour ajouter des voitures : {% endblock %}

{% block content %}
<body>

       <h2> Saisie d'une nouvelle marque :</h2>
       {% if id != None %}
            <form method='post' action="/myfirstapp/updatetraitement2/{{id}}/">
            {% else %}
                <form method='post' action="/myfirstapp/recup2/" >
        {% endif %}
        {% csrf_token %}
        {{form.as_ul }}
        <input type="submit" value="envoyer"/>

                </form>
            </form>
</body>

{% endblock %}