{% extends "myfirstapp/main.html" %}

{%block title %} Formulaire pour ajouter des voitures : {% endblock %}

{% block content %}
        <h2> Saisie d'une nouvelle voiture (formulaire1):</h2>
        {% if id != None %}
            <form method='post' action="/myfirstapp/updatetraitement/{{id}}/">
        {% else %}
            <form method='post' action="/myfirstapp/recup1/" >
        {% endif %}

        {% csrf_token %}
        {{form.as_ul }}
        <input type="submit" value="envoyer"/>
            </form>
            </form>
{% endblock %}