{% extends "myfirstapp/main.html" %}

{%block title %}  Index  {% endblock %}

{% block content %}
<h1> Bienvenue sur la page d'index de mon site Internet : </h1>
<body>
<ol > <h3>Liste de toute les voitures :</h3>
    {% for v in liste %}
        <li>{{v}} <a href="/myfirstapp/affiche/{{v.id}}/"> Affichage de la voiture |</a><a href="/myfirstapp/update/{{v.id}}/"> Mettre à jour la voiture |</a><a href="/myfirstapp/delete1/{{v.id}}/"> Supprimer la voiture :  </a></li>
    {% endfor%}
</ol>
<ol> <h3>Liste de toute les marques :</h3>
    {% for m in liste2 %}
    <li>{{m}}<a href="/myfirstapp/affiche2/{{m.id}}/"> Affichage de la marque | </a> <a href="/myfirstapp/update2/{{m.id}}/"> Mettre à jour la marque | </a><a href="/myfirstapp/delete2/{{m.id}}/"> Supprimer la marque : </a> </li>
    {% endfor%}
</ol>

<footer>Site réalisé par Claudel Louis RT121 </footer>

{% endblock %}