{% extends "myfirstapp/main.html" %}

{%block title %}  Index  {% endblock %}

{% block content %}
<h1> Bienvenue sur la page d'index de mon site Internet : </h1>
<body>
<ol> <h3>Liste de toute les voitures :</h3>
    {% for v in liste %}
        <li>{{v}} <a href="/myfirstapp/affiche/{{v.id}}/"> affiche</a><a href="/myfirstapp/update/{{v.id}}/"> update</a><a href="/myfirstapp/delete1/{{v.id}}/"> delete </a></li>
    {% endfor%}
</ol>
<ol> <h3>Liste de toute les marques :</h3>
    {% for m in liste2 %}
    <li>{{m}}<a href="/myfirstapp/affiche2/{{m.id}}/"> affiche</a> <a href="/myfirstapp/update2/{{m.id}}/">uptade </a><a href="/myfirstapp/delete2/{{m.id}}/"> delete </a> </li>
    {% endfor%}
</ol>



{% endblock %}